.artigo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: #c865a5;
    border-style: solid;
    border-radius: 10px;
    align-items: start;
    border-width: 3px;
    padding: 1.5rem;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(139,204,225, 0.6); /* 0.6 = transparência */
    background-image: url('../assets/img/espuma.png');
    background-blend-mode: soft-light;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.artigo *{
    margin: 0.25rem 0 0.25rem 0;
}