html,body{
    width: 100%;
    height:100%;
}

.topbar{
    display:flex;
    flex-direction: line;
    justify-content: space-between;
    background-color: rgb(101, 237, 103);
    align-items: center;
    padding: 1%;
}
.topbar img{
    width: 3rem;
    height: 3rem;
}
.rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: line;
    background-color: rgb(101, 237, 103);
    padding: 1%;
}
.rodape img{
    width: 3rem;
    height: 3rem;
}