.topbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c865a5;
    align-items: center;
    padding: 3%;
}
.topbar img{
    width: 3rem;
    height: 3rem;
}
.rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #c865a5;
    padding: 3%;
}
.rodape img{
    width: 3rem;
    height: 3rem;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}